body{
  background: #fff;
}

.quadro{
  height: 750px;
  background: #2b3e50;
}

.menuLateral{

  height: 750px;
  background: #6b7e90;
}

.menuLateral h1{
  padding-top: 50px;
  font-size: 20px;
}

button.menu{
  margin: 10px;
}
