body{
  background: #fff;
}

.quadro{
  height: 750px;
  background: #2b3e50;
}

.menuLateral{

  height: 750px;
  background: #6b7e90;
}

.menuLateral h1{
  padding-top: 50px;
  font-size: 20px;
}

.menuSuperior{
  padding-left: 0px;
  padding-right: 0px;
  height: 102px;
  background: #6b7aff;
}

.menuSuperior h1{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

button.menu{
  margin: 2px;
}

nav{
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  font-size: 20px;
}

a{
  color: white;
}

.showLogin{
  display: none;
}
