<section>
    <div class="form-group">
        <input class="form-control" placeholder="Data" ng-model="dados.abastecimento.data">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Km" ng-model="dados.abastecimento.km">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Tipo de combustível" ng-model="dados.abastecimento.tipoCombustivel">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Posto" ng-model="dados.abastecimento.posto">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Litros" ng-model="dados.abastecimento.litros">
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Valor total (R$)" ng-model="dados.abastecimento.valor">
    </div>

    <button class="btn btn-default" ng-click="cadastrarAbastecimento()">Cadastrar Abastecimento</button>
</section>
